In [12]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import ssl
ssl._create_default_https_context = ssl._create_unverified_context

In [13]:
url = 'https://raw.githubusercontent.com/grigters/bio/master/ufo-sightings1.csv'
df = pd.read_csv(url, sep=",")
df.head()

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude,month,season,time of day,part of day,outcome
0,1/10/47 20:00,conroe,tx,us,other,4,3 to4 sec.,The date was early 1947 before Arnold&#39s &qu...,4/16/05,30.311667,-95.455833,1,Winter,8:00 PM,EVENING,0
1,1/10/59 18:30,south san francisco,ca,us,disk,120,2 minutes,Its was approximately 6:30pm&#44 I was sitting...,4/27/04,37.654722,-122.406667,1,Winter,6:30 PM,EVENING,1
2,1/10/64 20:00,el cerrito (over old berkeley dump),ca,us,fireball,120,2 minutes,bal of fire in the sky no reported air crashes...,5/15/06,37.915833,-122.310556,1,Winter,8:00 PM,EVENING,1
3,1/10/80 0:00,exeter,nh,us,disk,7800,10min to 2hrs,saw what appeared as very bright star&#44 some...,2/18/01,42.981389,-70.948333,1,Winter,12:00 AM,NIGHT,1
4,1/10/81 20:30,glendora,ca,us,unknown,60,1 minute,On a very foggy night in 1981 I was illuminate...,2/18/01,34.136111,-117.864444,1,Winter,8:30 PM,EVENING,0

In [14]:
#df = df[['state','shape','season','part of day', 'outcome']]
df = df.drop(columns=["duration (seconds)", "duration (hours/min)", "comments", "latitude", "longitude ", "time of day"])
df.head()

,datetime,city,state,country,shape,date posted,month,season,part of day,outcome
0,1/10/47 20:00,conroe,tx,us,other,4/16/05,1,Winter,EVENING,0
1,1/10/59 18:30,south san francisco,ca,us,disk,4/27/04,1,Winter,EVENING,1
2,1/10/64 20:00,el cerrito (over old berkeley dump),ca,us,fireball,5/15/06,1,Winter,EVENING,1
3,1/10/80 0:00,exeter,nh,us,disk,2/18/01,1,Winter,NIGHT,1
4,1/10/81 20:30,glendora,ca,us,unknown,2/18/01,1,Winter,EVENING,0

In [15]:
from sklearn.preprocessing import LabelEncoder

df = df.apply(LabelEncoder().fit_transform)
df.head()

,datetime,city,state,country,shape,date posted,month,season,part of day,outcome
0,501,2139,44,0,19,161,0,3,1,0
1,502,9524,4,0,11,172,0,3,1,1
2,503,2941,4,0,13,189,0,3,1,1
3,504,3192,30,0,11,104,0,3,3,1
4,505,3800,4,0,27,104,0,3,1,0

In [16]:
# Assign X (data) and y (target)
X = df.drop("outcome", axis=1)
y = df['outcome']
print(X.shape, y.shape)

(65032, 9) (65032,)

In [17]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, stratify=y)

In [18]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [19]:
classifier.fit(X_train, y_train)

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [20]:
print(f"Training Data Score: {classifier.score(X_train, y_train)}")
print(f"Testing Data Score: {classifier.score(X_test, y_test)}")

Training Data Score: 0.8329232787960799
Testing Data Score: 0.8308525033829499

In [21]:
predictions = classifier.predict(X_test)
print(f"First 10 Predictions:   {predictions[:10]}")
print(f"First 10 Actual labels: {y_test[:10].tolist()}")

First 10 Predictions:   [1 1 0 1 1 0 1 1 1 1]
First 10 Actual labels: [0, 1, 0, 1, 1, 0, 1, 1, 1, 1]

In [22]:
pd.DataFrame({"Prediction": predictions, "Actual": y_test}).reset_index(drop=True)

       Prediction  Actual
0               1       0
1               1       1
2               0       0
3               1       1
4               1       1
5               0       0
6               1       1
7               1       1
8               1       1
9               1       1
10              1       1
11              1       1
12              1       1
13              0       1
14              1       1
15              1       1
16              1       1
17              1       1
18              1       0
19              1       1
20              1       1
21              1       1
22              1       0
23              1       1
24              1       1
25              1       1
26              1       1
27              1       1
28              1       1
29              1       1
...           ...     ...
16228           1       1
16229           1       1
16230           1       1
16231           1       1
16232           1       1
16233           1       1
16234           1       1
16235           1       1
16236           1       1
16237           1       1
16238           1       1
16239           1       0
16240           1       1
16241           1       1
16242           1       1
16243           1       1
16244           1       1
16245           1       1
16246           1       1
16247           1       1
16248           1       1
16249           1       1
16250           1       0
16251           1       0
16252           1       0
16253           1       1
16254           0       1
16255           1       1
16256           1       1
16257           1       1

[16258 rows x 2 columns]